*{
  margin:0;
  padding:0;
  font-size:16px;
}
body{
  background:url(/images/video_wall.png) #444;
  
}                 
.hidden{
  display:none;
  visibility:hidden;
}
.tv{
/*  border:1px solid #CCC;*/
  padding:0;
/*  -webkit-transform:rotate(5deg);*/
/*  margin-left:200px;*/
  position:absolute;
  overflow:hidden;   
  
  top:-600px;
}

.chrome{
  width:100%;
  height:100%;
  position:absolute;
  z-index:200;
}

.shadow{
  width:100%;
  height:100%;
  position:absolute;
  z-index:50;
  margin-top:-10px;
}

/*.screen{
  background:rgba(30,60,30, 0.6);
  position:absolute;
  z-index:200;
}*/

.player{
  position:absolute;
  margin-top:0px;
  margin-left:0px;  
  z-index:100;
}

.tv.tv1{width:600px;height:665px;margin-top:-213px;}
.tv.tv2{width:300px;height:333px;margin-top:-106px;}
.tv.tv3{width:236px;height:408px;}
.tv.tv4{width:320px;height:328px;margin-top:-82px;}
.tv.tv5{width:225px;height:177px;} 
.tv.tv6{width:395px;height:418px;}    
.tv.tv7{width:312px;height:376px;margin-top:-115px;}     
.tv.tv8{width:430px;height:293px;} 

.tv1 .chrome{background:url(/images/old_tv_01.png) no-repeat;}
.tv2 .chrome{background:url(/images/old_tv_02.png) no-repeat;}
.tv3 .chrome{background:url(/images/old_tv_03.png) no-repeat;}
.tv4 .chrome{background:url(/images/old_tv_04.png) no-repeat;}
.tv5 .chrome{background:url(/images/old_tv_05.png) no-repeat;} 
.tv6 .chrome{background:url(/images/old_tv_06.png) no-repeat;} 
.tv7 .chrome{background:url(/images/old_tv_07.png) no-repeat;} 
.tv8 .chrome{background:url(/images/old_tv_08.png) no-repeat;} 
.tv9 .chrome{background:url(/images/old_tv_09.png) no-repeat;} 
.tv10 .chrome{background:url(/images/old_tv_10.png) no-repeat;}

/*.tv1 .shadow{background:url(/images/old_tv_01_s.png) no-repeat;} */

.tv1 .player{margin-left:44px;margin-top:283px;}
.tv2 .player{margin-left:22px;margin-top:142px;}
.tv3 .player{margin-left:47px;margin-top:50px;}
.tv4 .player{margin-left:14px;margin-top:113px;}
.tv5 .player{margin-left:12px;margin-top:15px;}
.tv6 .player{margin-left:53px;margin-top:57px;} 
.tv7 .player{margin-left:41px;margin-top:141px;}  
.tv8 .player{margin-left:34px;margin-top:31px;}  

span.query-box{
  display:inline-block;
  padding:10px;     
  background:#D7D7D7;  
  border-radius:8px; 
  box-shadow:inset 0px 2px 4px #777;   
  height:27px;
}

span.query-box input[type=search]{
  font-size:24px;
  color:#555;
  text-shadow:-1px -1px 1px #DDD;
/*  font-weight:bold;*/
  background:#D7D7D7;
  padding:0px;
/*  border:1px solid #444;*/
  border:none;
  
  width:500px;    
  display:inline-block;
  border-radius:8px;
  -webkit-appearance:textfield;
}

#message{
  font-family:"Helvetica";
  font-size:20px;
  color:#AAA;
  display:inline-block;
  padding:6px;
}

#broadcasters{
  position:fixed;
  top:100px;
  right:20px;
}

input::-webkit-input-placeholder {
    color:    #AAA;
}
input:-moz-placeholder {
    color:    #AAA;
}

.top-tag{
  position:fixed;
  font-weight:bold;
  top:-4px;
  
  display:inline-block;   
    padding:0 20px;
    background:rgba(255,255,255,0.1);
  /*  border:1px solid #3F3F3F;*/
    border-radius:0 0 10px 10px;
    cursor:pointer;      
    vertical-align:middle;  
    
    width:28px;
    height:50px;
    text-align:center;      
    line-height:50px;
}
          
.top-tag a{
    font-family:"Helvetica","Arial",sans-serif;

    font-size:40px;
    color:#999;     
    text-shadow:-1px -1px 1px #333;
    text-decoration:none;
}

.top-tag:hover{  
  top:0;
  color:#BBB;
  background:rgba(255,255,255,0.15);
}

.broadcast-me{  
   right:138px; 
}  
.help-me{  
   right:60px;   
   font-size:38px;
}
     


#about{
  width:600px;
  padding:20px;
  background:#CCC;               
  color:#555;
  font-family:"Helvetica","Arial",sans-serif; 
} 

#about a{
  color:#333;
  text-decoration:underline;
}    

#about em {
  font-family:"Georgia", serif; 
  font-size:18px;
}

#about h3{
  font-size:26px;
  color:333;   
  margin-bottom:8px;
} 

#about ul li{
  margin:0;
  padding:0;
  list-style:none;
  font-size:18px;   
  margin:8px 0 16px 0;
}
