<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Yo!</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="master" charset="utf-8" />      
    <link rel="stylesheet" type="text/css" href="/scripts/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
  </head>
  <body>
    <div id="tvs"></div>
    <div id="broadcasters"></div>
    <div id="controls">
      <span class="help-me top-tag"><a id="about-me" href="#about">?</a></span> 
      <span class="broadcast-me top-tag"><a href="#">+</a></span>
      
      <span class="query-box hidden">
        <input type="search" id="video-search" placeholder="Search Video Here..." /><br/>
        <span id="message"></span>
      </span>     
    </div>        
             
    <div style="display: none;">
      <div id="about">
          <h3>About this hack</h3>
          <ul>
            <li><em>Yontage</em> is a mashup created within 24 hours during <a href="http://hackday.tv" target="_blank">Video Hack Day NYC 2011.</a></li> 
            <li><em>Yontage</em> aims to maximize the joy of procrastination through an effortless video searching experience.</li>              
            <li>Start by typing in any topic that interests you to start a video search, then scroll down for endless fun!</li> 
            <li>It'd be pretty obvious that the loudest TV is the one closest to the mouse cursor.</li>
            <li>Share the url with friends and they can watch and search for more stuff along with you. Just one thing to remember, they do see what you search, so be advised.</li>
            <li>Last but not least, you can click on the little plus sign on the top right so your friends can see your face in a TV set.</li>       
            <li></li> 
            <li><em>Yontage</em> is brought to you by <a href="http://leejayxia.com" target="_blank">@liangjiexia</a></li>
            <li>API courtesy of Youtube and OpenTok</li>
          </ul>  
      </div>     
    </div>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
    <script src="http://staging.tokbox.com/v0.91/js/TB.min.js" ></script>
    
    <script src="/scripts/app.js" type="text/javascript" charset="utf-8"></script>
    <script src="/scripts/tv.js" type="text/javascript" charset="utf-8"></script>  
    
    <script type="text/javascript" src="/scripts/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
  	<script type="text/javascript" src="/scripts/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
  	
    
    
    <script type="text/javascript" src="/_ah/channel/jsapi"></script>
    <script>
      var players = [];
      var videos = [];      
      
      
      var video_query_url,video_query_param,video_query_keyword,video_query_max_result;     
      var video_stack_height = [0,0];
      var video_z_index = 0;          
                 
      video_query_url = "https://gdata.youtube.com/feeds/api/videos"; 
      video_query_max_result = 10;
      video_query_param = {
        'orderby':'published',
        'max-results':video_query_max_result,
        'alt':'json',
        'format':5,
        'paid-content':false,
        'v':2
      };    
      video_query_keyword = "";
      
      function addVideo(video_id,video_url){
        p = $('<div></div>').appendTo('#tvs').TVSet().init(video_id,video_url);
        players.push(p);   
        
        // window_top = $(window).scrollTop();
        // window_bottom = window_top + $(window).height();
        // p.handleWindowScroll(window_top, window_bottom);    
        
        return p;
      }
      
      function playAll(){
        for(i in players){$(players[i]).TVSet().playVideo();}
      }
      
      function stopAll(){
        for(i in players){$(players[i]).TVSet().stopVideo();}
      }
      
      function debug(){

      }    
      
      function processVideoQueue(queue){
        // add more video until video stack height is larger than current window view port
        // or queue is empty
        var window_height = $(window).height() + $(window).scrollTop();            
        var side = 0;    
        
        while (video_stack_height[side] <= window_height && videos.length > 0)
        {
            if (video_stack_height[side] > video_stack_height[1-side])
            {
              side = 1-side;
            }
          
            var v = videos.shift();
            var p = addVideo(v['video'],v['url']);
            
            jiggle = [
              Math.floor(Math.random() * 80) - 40, 
              Math.floor(Math.random() * 50) - 25
            ];
               
            p.css({
              'left': (side == 0) ? (500 - p.width() + jiggle[0]) : (475 + jiggle[0]),
              'opacity':0,     
              'top':$(window).scrollTop() - p.height(),
              'z-index': video_z_index
            }).animate({
              'top': video_stack_height[side] + jiggle[1],
              'opacity':1
            });  
            
            video_stack_height[side] += (jiggle[1] + p.data('poi')[3]);   
            video_z_index += 10;
        }          
                                
        $('#tvs').css('height',video_stack_height[side] + 100);   
        
      }  
      
      function processVideoPlayState(){      
        // window_top = $(window).scrollTop();
        // window_bottom = window_top + $(window).height();
        // 
        // for(i in players){
        //   $(players[i]).TVSet().handleWindowScroll(window_top, window_bottom);
        //  }   
      }

      function findVideos(query){   
        video_query_param["q"] = query; 
        
        if (query == video_query_keyword)
        {
          if (video_query_param["start-index"])
          {
             video_query_param["start-index"] = video_query_param["start-index"] + video_query_max_result;
          }  
          else
          {
            video_query_param["start-index"] = 1 + video_query_max_result;
          }
        }
        else
        {
          //$("#tvs").empty();
          videos.length = 0;
          $(window).scrollTop($(window).height());
          video_query_param["start-index"] = 1;
        }
        
        video_query_keyword = query; 
        
        $.get(video_query_url,video_query_param,function(data){
          if (data.feed.entry)
            for (var i=0; i < data.feed.entry.length; i++) {
              var o = data.feed.entry[i];
              var url = "";
              
              for (l in o["link"])
              {
                link = o["link"][l];
                if (link["type"] == "text/html" && link["rel"] == "alternate")
                {
                  url = link["href"];
                  //console.log(url);
                }
              }
              
              var videoid = o["media$group"]["yt$videoid"]["$t"];
              console.log(videoid);
              //players.push(addVideo(videoid)[0]);     
              videos.push({'video':videoid,'url':url});
            };
            
            // $('#tvs').masonry({
            //   itemSelector: '.tv',
            //   isAnimated: true
            // });  
            processVideoQueue(videos);  
            //processVideoPlayState();
        })
        
      }
      
      function publishQuery(){
        // publish query
        $.get('/q/' + token + '/' + video_query_keyword,function(data){

        });
      }
      
      function onLayout(){
        $('span.query-box').css({
          'position':'fixed',
          'left': (($('span.query-box').hasClass('side')) ? (window.innerWidth - $('span.query-box').width() + 20) : (window.innerWidth - $('span.query-box').width())/2) + "px",
          'top': ((window.innerHeight - $('span.query-box').height())/2 - 30) + "px"
        }).removeClass("hidden");
      }      
      
      function onWindowScroll(event){
        processVideoQueue(videos);
        if (videos.length == 0){
          console.log('video queue cleared'); 
          console.log('querying for more'); 
          findVideos(video_query_keyword);
        }                   
        
        processVideoPlayState();   
        
        console.log(event);
      }

      function onYouTubePlayerAPIReady() {

      }

      var token = '{{token}}';
      var channel, socket;
      var onChannelOpened, onChannelMessage, onChannelError, onChannelClose;
      var opentok_session;
      
      onChannelOpened = function(){
        console.log("Channel opened");
        console.log(channel);
      }
      
      onChannelMessage = function(message){
        console.log("Channel Message Received");
        data = JSON.parse(message.data);
        //console.log(data);
        
        if (data.query != video_query_keyword)
        {
          findVideos(data.query);
          $('#video-search').val(data.query);
          $('span.query-box').addClass("side");
          onLayout();
        }
      }
      
      var publishers = [];
      var subscribers = [];
      var publisher;
      
      var right_range = 0;
      var startBroadcasting = function(){
        id = getUID(8);
        var frame = $('<div><div id="player_' + id + '"></div></div>');
        frame.addClass("").css({
          'position':'fixed',
          'top':100,
          'right':right_range
        }).appendTo('#broadcasters');
        
        prop = {width: 320, height:240, name:""};        
        
        right_range += 320;
        
        publisher = opentok_session.publish('player_' + id);
        publishers.push(publisher,prop);
      }
      
      var stopBroadcasting = function(){
        if (publisher){
          opentok_session.unpublish(publisher);
        }
      }
      
      var setupOpenTok = function(){
        console.log('OpenTok: {{opentok_session_id}} -- {{opentok_token}}');
        opentok_session = TB.initSession("{{opentok_session_id}}");  
        opentok_session.connect(1127, "devtoken");           
        opentok_session.addEventListener("sessionConnected", sessionConnectedHandler);
        opentok_session.addEventListener("streamCreated", streamCreatedHandler);
        
        TB.setLogLevel(TB.DEBUG);
        TB.addEventListener("exception", exceptionHandler);
      }
      
      function exceptionHandler(event) {
          console.log("Exception msg:" + event.message +
                  "title: " + event.title + " code: " + event.code);
      }
      
      function sessionConnectedHandler (event) {
           subscribeToStreams(event.streams);
           
      }  

      function subscribeToStreams(streams) {
          for (i = 0; i < streams.length; i++) {
              var stream = streams[i];
              addStream(stream);
              // if (stream.connection.connectionId != opentok_session.connection.connectionId) {
              //                   opentok_session.subscribe(stream);
              //               }
          }
      }
      
      function addStream(stream) {
  			// Check if this is the stream that I am publishing, and if so do not publish.
  			if (stream.connection.connectionId == opentok_session.connection.connectionId) {
  				return;
  			}
  			
  			tv_type = Math.floor(Math.random()* (TV_CONFIG.length - 1) + 1);
  			
  			id = getUID(8);
        var frame = $('<div></div>');
        frame.addClass('tv tv' + TV_CONFIG[tv_type].type).css({
          // 'width':400,
          // 'height':300
          'position':'fixed',
          'top':100,
          'right':right_range + 2
        }).data('stream-id', stream.streamId).appendTo('#broadcasters');
        
        right_range += frame.width();
        
        prop = {width: TV_CONFIG[tv_type].vbounds[0], height:TV_CONFIG[tv_type].vbounds[1], name:""};
        
        $('<div class="chrome"></div>').appendTo(frame);
        $('<div class="player"><div id="player_' + id + '"></div></div>').appendTo(frame);
  			
  			subscribers[stream.streamId] = opentok_session.subscribe(stream, 'player_' + id, prop);
  		}
      
      function streamCreatedHandler(event) {
          subscribeToStreams(event.streams);
      }
      
      $(document).ready(function(){
        
        $("body").mousemove(function(event) {
          for(i in players){$(players[i]).TVSet().handleMouseMove(event.pageX, event.pageY);}
        }).mouseup(function(event) {
          for(i in players){$(players[i]).TVSet().handleMouseUp(event.pageX, event.pageY);}
        });
        
        $(window)
          .bind('resize',onLayout)
          .bind('scroll',onWindowScroll);
        
        $('#video-search').bind('keypress',function(event){
          if ( event.which == 13 ) {
            $('span.query-box').addClass("side").animate({
              'left':(window.innerWidth - $('span.query-box').width() + 20) + 'px'
            });
            $(this).blur();
            findVideos($('#video-search').val());
            publishQuery();
          }
        });
        
        $('.tv').live('click',function(){
          //$('#message').text($(this).find('.player').data('url'));
        });
        
        $(".broadcast-me").click(function(){
          startBroadcasting();
          $(this).hide();
        });
        
        onLayout();      
        
        channel = new goog.appengine.Channel('{{channel_token}}');
        socket = channel.open();
        socket.onopen = onChannelOpened;
        socket.onmessage = onChannelMessage;
        socket.onerror = onChannelError;
        socket.onclose = onChannelClose;
        
        setupOpenTok();  
        
        $("#about-me").fancybox({
  				'titlePosition'		: 'none',
  				'transitionIn'		: 'elastic',
  				'transitionOut'		: 'none'
  			}); 
  			
  			$("#about-me").click();
        
      });
    </script>
  </body>
</html>