<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Yo!</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="master" charset="utf-8" />
  </head>
  <body>
    <div id="tvs"></div>
    <div id="controls">
      <span class="query-box hidden">
        <input type="search" id="video-search" placeholder="Search Video Here..." />
      </span>
    </div>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
    <script src="http://staging.tokbox.com/v0.91/js/TB.min.js" ></script>
    
    <script src="/scripts/app.js" type="text/javascript" charset="utf-8"></script>
    <script src="/scripts/tv.js" type="text/javascript" charset="utf-8"></script>
    
    
    <script type="text/javascript" src="/_ah/channel/jsapi"></script>
    <script>
      var players = [];
      var videos = [];      
      
      
      var video_query_url,video_query_param,video_query_keyword,video_query_max_result;     
      var video_stack_height = [0,0];
      var video_z_index = 0;          
                 
      video_query_url = "https://gdata.youtube.com/feeds/api/videos"; 
      video_query_max_result = 10;
      video_query_param = {
        'orderby':'published',
        'max-results':video_query_max_result,
        'alt':'json',
        'format':5,
        'paid-content':false,
        'v':2
      };    
      video_query_keyword = "";
      
      function addVideo(video_id){
        p = $('<div></div>').appendTo('#tvs').TVSet().init(video_id);
        players.push(p);   
        
        // window_top = $(window).scrollTop();
        // window_bottom = window_top + $(window).height();
        // p.handleWindowScroll(window_top, window_bottom);    
        
        return p;
      }
      
      function playAll(){
        for(i in players){$(players[i]).TVSet().playVideo();}
      }
      function stopAll(){
        for(i in players){$(players[i]).TVSet().stopVideo();}
      }
      
      function debug(){
        $.get('/q/' + token + '/' + "nyan+cat",function(data){
          // console.log("after ajax");
          // console.log(data);
        });
      }    
      
      function processVideoQueue(queue){
        // add more video until video stack height is larger than current window view port
        // or queue is empty
        var window_height = $(window).height() + $(window).scrollTop();            
        var side = 0;    
        
        while (video_stack_height[side] <= window_height && videos.length > 0)
        {
            if (video_stack_height[side] > video_stack_height[1-side])
            {
              side = 1-side;
            }
          
            var p = addVideo(videos.shift());
            
            jiggle = [
              Math.floor(Math.random() * 80) - 40, 
              Math.floor(Math.random() * 50) - 25
            ];
               
            p.css({
              'left': (side == 0) ? (500 - p.width() + jiggle[0]) : (475 + jiggle[0]),
              'opacity':0,     
              'top':$(window).scrollTop() - p.height(),
              'z-index': video_z_index
            }).animate({
              'top': video_stack_height[side] + jiggle[1],
              'opacity':1
            });  
            
            video_stack_height[side] += (jiggle[1] + p.data('poi')[3]);   
            video_z_index += 10;
        }          
                                
        $('#tvs').css('height',video_stack_height[side] + 100);   
        
      }  
      
      function processVideoPlayState(){      
        
        // window_top = $(window).scrollTop();
        // window_bottom = window_top + $(window).height();
        // 
        // for(i in players){
        //   $(players[i]).TVSet().handleWindowScroll(window_top, window_bottom);
        //  }   
      }

      function findVideos(query){   
        video_query_param["q"] = query; 
        
        if (query == video_query_keyword)
        {
          if (video_query_param["start-index"])
          {
             video_query_param["start-index"] = video_query_param["start-index"] + video_query_max_result;
          }  
          else
          {
            video_query_param["start-index"] = 1 + video_query_max_result;
          }
        }
        else
        {
          video_query_param["start-index"] = 1;
        }
        
        video_query_keyword = query; 
        
        $.get(video_query_url,video_query_param,function(data){
          if (data.feed.entry)
            for (var i=0; i < data.feed.entry.length; i++) {
              var o = data.feed.entry[i];
              var videoid = o["media$group"]["yt$videoid"]["$t"];
              console.log(videoid);
              //players.push(addVideo(videoid)[0]);     
              videos.push(videoid);
            };
            
            // $('#tvs').masonry({
            //   itemSelector: '.tv',
            //   isAnimated: true
            // });  
            processVideoQueue(videos);  
            //processVideoPlayState();
        })
      }
      
      function onLayout(){
        $('span.query-box').css({
          'position':'absolute',
          'left': (window.innerWidth - $('span.query-box').width())/2 + "px",
          'top': ((window.innerHeight - $('span.query-box').height())/2 - 30) + "px"
        }).removeClass("hidden");
      }      
      
      function onWindowScroll(event){
        processVideoQueue(videos);
        if (videos.length == 0){
          console.log('video queue cleared'); 
          console.log('querying for more'); 
          findVideos(video_query_keyword);
        }                   
        
        processVideoPlayState();   
        
        console.log(event);
      }

      function onYouTubePlayerAPIReady() {

      }

      var token = '{{token}}';
      var channel, socket;
      var onChannelOpened, onChannelMessage, onChannelError, onChannelClose;
      
      onChannelOpened = function(){
        console.log("Channel opened");
        console.log(channel);
      }
      
      onChannelMessage = function(message){
        console.log("Channel Message Received");
        console.log(JSON.parse(message.data));
      }
      
      $(document).ready(function(){
        $("body").mousemove(function(event) {
          for(i in players){$(players[i]).TVSet().handleMouseMove(event.pageX, event.pageY);}
        });
        
        
        $(window)
          .bind('resize',onLayout)
          .bind('scroll',onWindowScroll);
        
        $('#video-search').bind('keypress',function(event){
          if ( event.which == 13 ) {
            $(this).hide();
            findVideos($('#video-search').val());
           }
        });
        
        onLayout();      
        
        console.log('OpenTok: {{opentok_session_id}} -- {{opentok_token}}');
        // var opentok_session = TB.initSession("{{opentok_session_id}}");  
        // opentok_session.connect(1127, "devtoken");           
        // opentok_session.addEventListener("sessionConnected", sessionConnectedHandler);
        // opentok_session.addEventListener("streamCreated", streamCreatedHandler);
        // function sessionConnectedHandler (event) {
        //      subscribeToStreams(event.streams);
        //      session.publish();
        // }  

        function subscribeToStreams(streams) {
            for (i = 0; i < streams.length; i++) {
                var stream = streams[i];
                if (stream.connection.connectionId != session.connection.connectionId) {
                    session.subscribe(stream);
                }
            }
        }
        
        function streamCreatedHandler(event) {
            subscribeToStreams(event.streams);
        }
        
        channel = new goog.appengine.Channel('{{channel_token}}');
        socket = channel.open();
        socket.onopen = onChannelOpened;
        socket.onmessage = onChannelMessage;
        socket.onerror = onChannelError;
        socket.onclose = onChannelClose;
        
      });
    </script>
  </body>
</html>